body {
    overflow: hidden;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #f8f9fa;
    padding: 15px;
    border-right: 1px solid #dee2e6;
    overflow-y: auto;
}
#main {
    padding: 30px;
    flex-grow: 1;
    overflow-y: auto;
}
.card {
    min-height: 200px;
    transition: background-color 0.3s ease;
}

#restoreSidebar {
    display: none;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    background: #ddd;
    border: 1px solid #aaa;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1000;
}